.container {
  @include desktop-up {
    padding-left: $offset-x;
    padding-right: $offset-x;
  }
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: white;
}

.page__header {
  display: grid;
  align-items: center;
  grid-template-columns: 20% 1fr 20%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-bottom: 1px solid #C5CFCF;
  
  @include desktop-up {
    height: 70px;
  }
}

.page__header > * {
  grid-row: 1 / 2;
}

.page__main {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.page__close {
  grid-column: 3 / 4;
  justify-self: end;
}

.page__close-btn {
  display: block;
}

.page__close-btn svg {
  display: block;
  color: $color-2;

  @include desktop-up {
    width: 23px;
    height: 23px;
  }
}