.switcher {
  display: inline-flex;
}

.switcher__btn {
  border: 0.742188px solid transparent;
  transition: border-color $basic-duration ease-in-out;

  @include desktop-up {
    padding: 0 8px;
    height: 25px;
    font-size: 14px;
    border-radius: 17.8125px;
  }
}

.switcher__btn.active {
  border-color: #c5cfcf;
}
