.start-page {
  @include desktop-up {
    padding-top: 84px;
    padding-bottom: 20px;
    background-image: url("../../assets/images/start-ill.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 1px) calc(50% - 2px);
  }
}

.start-page__content {
  @include desktop-up {
    max-width: calc(100% - 400px);
  }
}

.start-page__lang {
  @include desktop-up {
    margin-top: 35px;
  }
}

.start-page__tools {
  margin-top: 50px;
}