body {
  font-family: $font-1;
}

.page-heading {
  font-weight: bold;

  @include desktop-up {
    margin-bottom: 19px;
    font-size: 42px;
    line-height: 115%;
  }

  @include tablet-only {
    font-size: 50px;
    line-height: 53px;
  }
}

.basic-text {
  color: black;

  @include desktop-up {
    font-size: 14px;
    line-height: 22px;
  }  
}
